{%extends 'base.html'%}
{%block title%}Sign up{%endblock title%}

{%block body%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    {% if forms.error %}
    <p>There was an error in your details</p>
    {%endif%}
    <h1 class="my-4 text-center">Create an Account</h1>

    <div class='container'>
        <div class="p-4 m-4">
            <div class="col-lg-5 mx-auto">
                <form method="POST" action="/signup">
                    {% csrf_token %}

                    {{form.as_p}}
    
                    <div class="form-group my-2 ">
                        <input class='btn btn sm btn-primary' type="submit" value="Create Account">
                    </div>
                </form>
            </div>
        </div>   
    </div>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
{%endblock body%}
